@font-face {
  font-family: "Inter-Variable", sans-serif;
  src: url(./Assets/Fonts/Inter-Variable.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter-Variable", sans-serif;
}

p {
  margin-left: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: rgb(248, 242, 242);
}

body {
  display: flex;
  flex-direction: column;
  background: rgb(47, 47, 47);
  min-height: 100vh;
  color: rgb(245, 241, 241);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

nav h2 {
  margin-left: 1rem;
}

main {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#pres_prod_container {
  padding-left: 1rem;
}

#pres_prod {
  width: 50%;
}

h1 {
  font-size: 6rem;
  margin: 1rem;
  margin-top: 10rem;
}

#photo_prod {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#modem {
  height: 60vh;
}

main h3 {
  font-size: 2rem;
  color: blue;
  margin: 1rem;
}

footer {
  background: rgb(32, 31, 31);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 10px;
  width: 100%;
}

#info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info_core {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.btn_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.btn_container button {
  background: blue;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.invest {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.invest h3 {
  align-self: flex-start;
  margin-left: -5rem;
}

.img_container {
  display: flex;
  justify-content: space-between;
}

.img_container img {
  margin-top: 3rem;
  width: 7rem;
  height: auto;
}
